:root {
  --ff-1: 'Aeroport', sans-serif;

}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button--mod-2 {
  &::before {
    background-color: #E67A00;
  }

  span {
    color: #ffffff;
  }
}

.home--advance {

  .title {

    &::after,
    &::before {
      display: none;
    }
  }

  .hero__slider-item {
    background-image: url(../img/bg/advance.jpg);
    background-position: top;
  }

  .hero__text-part {
    max-width: initial;
  }

  .hero__text-part--mod {
    font-family: var(--ff-1);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    color: #FFFFFF;
    margin: 0;
  }

  .hero__text-list {
    font-family: var(--ff-1);
    font-weight: 400;
    font-size: 24px;
    line-height: 2;
    color: #FFFFFF;
    margin: 13px 0;
    margin-bottom: 64px;

    li {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: calc(18px + 15px);

      &::after {
        content: "";
        display: block;
        width: 16px;
        height: 8px;
        background-image: url(../img/icons/list-arrow-wh.svg);
        background-size: cover;
        position: absolute;
        left: 0;
      }
    }

    .hero--no-slider .hero__slider-top {
      margin-bottom: 37px;
    }

  }

  .header .header__wrapper {
    border-bottom: none;
  }

  .hero--no-slider .breadcrumbs {
    padding-top: 135px;
    padding-bottom: 35px;
  }

  .content__links-wrapper {
    margin: 0;
  }

  .promo::before {
    display: none;
  }

  .button-round:hover:after {
    pointer-events: none;
  }

  .promo,
  .selling-block {
    margin: 0 32px;
  }

  .promo__item .promo__details {
    border-radius: 0px 0px 0px 6px;
  }

  .promo__item--mod .promo__details {
    border-radius: 0px 0px 6px 0px;
  }

  .selling-block::before {
    display: none;
  }
}

// декоративная линия с ссылкой на запись на конференцию под шапкой 
.decorate-line {
  background: #E67A00;
  font-family: var(--ff-1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 8px 0;
  max-width: 100%;
  width: 100%;
  overflow: hidden;

  p {
    margin: 0;
    display: flex;
    gap: 6px;
    align-items: center;
  }

  a {
    color: #FECD00;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: all 0.2s;
    font-family: var(--ff-1);
    position: relative;
    padding-right: 34px;

    &:hover {
      color: #ffffff;
    }

    svg {
      margin-top: 3px;
      position: absolute;
      right: 0;
    }
  }
}


// что вы получите 

.what-you-get {
  padding: 85px 0;
  background-color: #A47B67;
  color: #ffffff;
  background-image: url(../img/bg/advance-two.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__title {
    font-family: var(--ff-1);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 43px;
  }

  &__list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 36px;

    li {
      width: calc((100% /3) - 22px);
      position: relative;
      padding-top: 56px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        left: 0;
        background-image: url(../img/logo/1.svg);
      }
    }

    span {
      display: inline-block;
      margin-bottom: 28px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.3;
    }

    p {
      margin: 0;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.4;
    }

  }

  .content__links-wrapper {
    justify-content: flex-end;
    margin-bottom: 120px;
  }
}

.video-box {
  max-width: 1088px;
  width: 100%;
  height: 608px;
  margin: 0 auto;
  background-color: #C38225;
  background-image: url(../img/bg/video-1.jpg);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  // transform: translate(0px, 150px);
  margin-bottom: -406px;
  position: relative;

  .button {
    border-radius: 50%;
    max-width: initial;
    width: 96px;
    height: 96px;
    background-color: transparent;

    &::before {
      border-radius: 50%;
      border-color: #E67A00;
      background-color: #E67A00;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// преимущества авансирования 
.advant-advances {
  padding: 368px 0 114px;
  background-color: #6B3012;
  color: #ffffff;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
  }

  .title {
    color: #ffffff;
    max-width: 640px;
    margin: 0;
    padding: 0;
    font-family: var(--ff-1);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1;
  }

  &__wrap {
    max-width: 528px;
  }

  ol {
    margin: 0;
    margin-bottom: 38px;
    margin-left: 0;
    margin-top: 19px;
    padding-left: 30px;

    li {
      margin-bottom: 12px;

      &::marker {
        color: #E67A00;
      }
    }
  }
}

// модалка с видео

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--video {
  max-width: max-content;
  width: initial;
  height: max-content;
  top: initial;
  right: initial;
  margin: auto;
  padding: 10px;
  overflow: visible;

  .modal-close {
    top: -55px;
    right: -55px;
  }
}

// простой контент 
.simple-cont {
  padding: 85px 0 118px;

  .title {
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.11;

    &--mod {
      margin-bottom: 8px;
    }
  }

  .subtitle {
    font-family: var(--ff-1);
    font-weight: 300;
    font-size: 32px;
    line-height: 1.25;
    color: #2B1B14;
    max-width: 1088px;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  &__flex-list {
    display: flex;
    flex-wrap: wrap;
    gap: 46px 32px;

    li {
      width: calc((100% / 3) - 22px);
    }

    img {
      display: block;
      margin-bottom: 18px;
    }

    p {
      margin: 0;
      color: #554943;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &__list {
    max-width: 1087px;
    margin: 0 auto;
  }

  &__item {
    padding: 29px 0;
    border-bottom: 1px solid #EAE9E8;

    strong {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.33;
      color: #2B1B14;
      display: block;
      margin-bottom: 16px;
    }

    p {
      margin: 0;
      color: #6B605B;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.4;
    }


  }

  &__sublist {
    margin: 23px 0 0;
    padding: 0;

    li {
      list-style: none;
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-left: 33px;
      margin-bottom: 4px;

      &::before {
        content: "—";
        position: absolute;
        left: 0;
        color: #F8AA2B;
        font-weight: 300;
      }
    }
  }
}

// этапы получения средств 
.steps-funds {
  padding: 85px 0;
  background-color: #A47B67;
  color: #ffffff;
  background-image: url(../img/bg/steps-funds-1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  margin: 0 32px;

  &::after {
    content: "";
    background-image: url(../img/bg/texture-plus.svg);
    position: absolute;
    width: 50%;
    height: 27%;
    top: -14%;
    right: 1%;
    z-index: 3;
    pointer-events: none;
  }

  .title {
    color: #ffffff;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1;
    padding: 0;
    margin: 0;
    margin-bottom: 69px;
  }
}

.steps-funds__list {
  display: flex;
  flex-wrap: wrap;
  gap: 63px 32px;
  align-items: flex-start;

  li {
    width: calc((100% / 3) - 22px);

    strong {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.3;
      display: block;
      margin-bottom: 28px;
    }

    p {
      margin: 0;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.4;
    }
  }
}

.dec-arrow {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  margin-bottom: 16px;

  span {
    flex-grow: 2;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: block;
      width: 95%;
      height: 1px;
      background-color: #fff;
      z-index: 0;
      position: absolute;
      margin-right: auto;
    }
  }

  svg {
    margin-left: auto;
    display: block;
    position: relative;
    z-index: 2;
  }
}

.steps-funds--mod {
  background-image: url(../img/bg/steps-funds-2.jpg);
  border-radius: 6px;
  padding: 85px 32px 126px;

  .steps-funds__list {
    margin-bottom: 16px;
  }

  .just-text {
    margin-bottom: 56px;
  }
}

.just-text {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  color: #FFFFFF;
}

// часто задаваемые вопросы 
.faq-sect {
  padding: 85px 0 62px;

  .button-plus,
  .faq-sect__question {
    position: relative;
    z-index: 2;
  }

  .custom-accordion__button:hover {
    &::before {
      background-color: #ffffff;
      z-index: 1;
    }
  }

  .custom-accordion__button.active {
    border-top: none;

  }

  .custom-accordion__button.active+.faq-sect__ansver {
    padding-bottom: 46px;
  }

  .custom-accordion--top .custom-accordion__button.active {
    border-top: 1px solid #DFDDDC;
  }
}

.faq-sect__question {
  margin: 0;
  text-align: left;
}

.faq-sect .content__links-wrapper {
  justify-content: flex-end;
}

.cont-us {
  padding: 22px 0 110px;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &:after {
    content: "";
    background-image: url(../img/bg/texture-plus.svg);
    position: absolute;
    width: 50%;
    height: 198px;
    bottom: -34%;
    right: 0;
    z-index: 3;
    pointer-events: none;
  }

  .container {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cont-us__left {
    max-width: 640px;

    .title {
      font-weight: 700;
      font-size: 72px;
      line-height: 1.1;
      margin: 0;
      padding: 0;
      color: #6B3012;
    }
  }

  .cont-us__details {
    min-width: 528px;
  }

  &__name {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.67;
    color: #2B1B14;
    margin: 0;
  }

  &__tel {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #2B1B14;
    display: block;
  }

  &__mail {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.67;
    color: #E67A00;
  }
}

.faq-sect__title {
  padding: 0;
  margin-bottom: 45px;

}

.faq-sect__list {
  max-width: 1088px;
  margin: 0 auto;
}

.faq-sect__question {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.25;
  color: #2B1B14;

}

.custom-accordion--last {
  margin-bottom: 47px;
}

.content-area {
  padding-top: 60px;
  padding-bottom: 125px;
}

.title--mod {
  padding: 0;
}

.steps-funds--mod .wrapper {
  position: relative;
  z-index: 11;
}

@media (max-width: 1550px) {
  .home--advance {

    .breadcrumbs {
      padding-top: 190px !important;
    }


  }

}

@media (max-width: 1440px) {

  .steps-funds,
  .promo,
  .steps-funds,
  .selling-block,
  .footer {
    margin: 0 !important;
  }

  .what-you-get__title {
    font-size: 54px;
  }
}

@media (max-width: 1270px) {
  .advant-advances {

    .title,
    .advant-advances__wrap {
      width: calc(50% - 22px);
    }

  }

  .what-you-get__title,
  .advant-advances .title,
  .simple-cont .title,
  .steps-funds .title,
  .cont-us .cont-us__left .title {
    font-size: 56px;
  }
}

@media (max-width: 1024px) {

  .home--advance .hero__slider-item {
    background-image: url(../img/bg/advance-1024.jpg);
  }

  .home--advance {
    .header {
      padding-top: 20px !important;
    }

    .header__wrapper {
      padding-bottom: 20px !important;
    }

    .hero__slider-item .wrapper {
      margin-bottom: 40px;
    }
  }

  .wrapper {
    padding: 0 48px;
  }

  .advant-advances .title {
    max-width: calc(50% - 22px);
  }

  .advant-advances__wrap {
    max-width: calc(50% - 22px);
  }

  .hero__slider-item {
    min-height: initial;
    padding-bottom: 40px;
  }

  .home .header {
    padding: 20px 0 0;
  }

  .home--advance .breadcrumbs {
    padding-top: 144px !important;
  }

  .hero__slider-item .button--mod-2 {
    display: none;
  }

}


@media (max-width: 1000px) {
  .header__logo {
    height: 56px;
    width: auto;
    max-width: initial;
  }

  .logo__image {
    height: 100%;
    max-width: initial;
  }

  .advant-advances .title {
    max-width: 100%;
    width: 100%;
  }

  .advant-advances .advant-advances__wrap {
    max-width: 100%;
    width: 100%;
  }

  .what-you-get__list li {
    max-width: 100%;
    width: 100%;
    padding-top: 0;
    padding-left: 65px;
  }

  .what-you-get__list li:after {
    top: 6px;
  }

  .video-box {
    max-width: 688px;
    width: 100%;
    height: 384px;
  }

  .what-you-get .content__links-wrapper {
    margin-bottom: 64px;
  }

  .simple-cont__flex-list li {
    width: calc((100% / 2) - 16px);
  }

  .steps-funds__list li {
    width: calc((100% / 2) - 16px);
  }

  .what-you-get__title,
  .advant-advances .title,
  .simple-cont .title,
  .steps-funds .title,
  .cont-us .cont-us__left .title {
    font-size: 48px;
  }

  .cont-us .cont-us__left {
    max-width: 100%;
    width: 100%;
  }

  .cont-us .cont-us__details {
    max-width: 100%;
    width: 100%;
  }

  .home--advance .hero__slider-item .wrapper {
    margin-bottom: 40px;
  }

  .home--advance .breadcrumbs {
    padding-top: 120px !important;
  }


}


@media (max-width: 768px) {

  .home--advance .hero__slider-item {
    background-image: url(../img/bg/advance-768.jpg);
  }

  .home--advance .breadcrumbs {
    padding-top: 75px !important;
  }

  .hero__slider-item {
    padding-bottom: 109px;
  }

  .home--advance .content__links-wrapper {
    justify-content: flex-end;
  }

  .steps-funds--mod .content__links-wrapper {
    justify-content: flex-start;
  }

  .title {
    font-size: 48px;
  }

  .cont-us:after,
  .steps-funds::after {
    display: none;
  }
}

@media (max-width: 560px) {
  .header__buttons-group .button {
    display: none;
  }

  .header__buttons-group .button-menu {
    display: flex;
  }

  .wrapper {
    padding: 0 16px !important;
  }

  .home .header {
    padding: 0 !important;
    display: flex;
    gap: 26px;
    flex-direction: column-reverse;
  }

  .home--advance .header .header__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #CAC2B9;
  }

  .header .wrapper--flex {
    width: 100%;
  }

  .content__links-wrapper .button {
    width: 100%;
    max-width: 100%;
  }

  .steps-funds--mod {
    padding-left: 0;
    padding-right: 0;
  }

  .title,
  .hero--no-slider .hero__title,
  .promo__text {
    font-size: 32px !important;
  }

  .home--advance .hero__text-part--mod,
  .home--advance .hero__text-list li,
  .advant-advances ol li,
  .simple-cont__flex-list p,
  .promo__title,
  .simple-cont__item strong,
  .simple-cont__item p,
  .steps-funds--mod .just-text {
    font-size: 18px;
  }

  .simple-cont .subtitle {
    font-size: 24px;
  }

  .faq-sect__question {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .home--advance .hero__slider-item {
    background-image: url(../img/bg/advance-360.jpg);
  }

  .simple-cont__flex-list li {
    width: 100%;
  }

  .steps-funds__list li {
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: flex-start;
  }

  .simple-cont {
    padding: 24px 0;
  }

  .dec-arrow span {
    display: none;
  }

  .steps-funds__list li strong {
    margin-bottom: 6px;
  }

  .steps-funds .title {
    margin-bottom: 32px;
  }

  .dec-arrow {
    width: 40px;
    max-width: 40px;
    margin: 0;
    display: block;
  }

  .custom-accordion__button {
    gap: 16px;
  }

  .dec-arrow,
  .button-plus {
    width: 40px;
  }

  .steps-funds__txt-wrap,
  .faq-sect__question {
    max-width: calc(100% - 16px - 40px);
  }

  .what-you-get__list span {

    margin-bottom: 6px;

  }

  .home--advance .breadcrumbs {
    padding-top: 86px !important;
  }

}